.delete-form {
    display: inline;
}

#map {
    height: 400px;
    width: 100%
}

@media screen and (min-width: 990px) {
    .show {
        max-height: 139px;
        object-fit: cover;
    }
}

@media screen and (min-width: 1200px) {
    .show {
        max-height: 169px;
        object-fit: cover;
    }
}